.Searchbar {
    margin-top: 15px;
    height: 48px;
}
.SearchForm {
    height: 48px;
}

.SearchFormInput {
    border-radius: 20px;
    width: 50%;
    font-size: 30px;
    height: 50px;
    padding: 5px 15px;
}